services:
  - type: web
    name: panboo-frontend
    runtime: static
    buildCommand: npm install && npm run build
    staticPublishPath: ./dist
    envVars:
      - key: VITE_CHAIN_ID
        value: 56
      - key: VITE_TOKEN_ADDRESS
        value: "0x0000000000000000000000000000000000000000"
      - key: VITE_MASTERCHEF_ADDRESS
        value: "0x0000000000000000000000000000000000000000"
      - key: VITE_CHARITY_WALLET
        value: "0x0000000000000000000000000000000000000000"
      - key: VITE_PANBOO_BNB_PAIR
        value: "0x0000000000000000000000000000000000000000"
      - key: VITE_API_URL
        value: https://panboo-api.onrender.com
      - key: VITE_RPC_URL
        value: https://bsc-dataseed.binance.org
      - key: VITE_WALLETCONNECT_ID
        value: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      - key: VITE_ENABLE_LIVE_FEED
        value: true
      - key: VITE_ENABLE_FAKE_DATA
        value: false
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
